@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  margin: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
main {
  position: absolute;
  width: 50em;
  height: 30em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
}
.top {
  height: 5%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  z-index: 2;
  background-color: rgba(148, 187, 233, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  margin-left: 1em;
  margin-right: 1em;
}
.top a:hover {
  text-decoration: underline;
  color: yellow;
}
