@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@keyframes animation {
  0% {
    background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  10% {
    background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 20%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  20% {
    background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 40%,
      rgba(148, 187, 233, 1) 100%
    );
  }

  30% {
    background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 60%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  40% {
    background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 80%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  60% {
    background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 80%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  70% {
    background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 60%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  80% {
    background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 40%,
      rgba(148, 187, 233, 1) 100%
    );
  }

  90% {
    background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 20%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  100% {
    background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  }
}
body {
  margin: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.main {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}
.top {
  height: 5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  background-color: rgba(148, 187, 233, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  margin-left: 1em;
  margin-right: 1em;
}
.top a:hover {
  text-decoration: underline;
  color: yellow;
}
.left a {
  display: inline;
  color: red;
}
.right a {
  display: inline-table;
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.3em;
  margin-top: 10px;
}
.right a:hover {
  text-decoration: underline;
  color: yellow;
}
.left h4 {
  display: inline;
}
.left br {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.left {
  margin-left: auto;
  float: left;
  width: 35em;
  height: 95%;
  margin-right: 2%;
}
.right {
  z-index: 1;
  margin-right: auto;
  float: right;
  width: 13em;
  height: fit-content;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    0deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-shadow: 0px 20px 20px lightskyblue;
}
.menu {
  height: fit-content;
  width: 100%;
  margin-top: 1em;
  font-size: 3vw;
  text-align: center;
}
.left form {
  font-size: 1.5em;
}
.left form input[type="text"] {
  height: 2em;
}
