*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  margin: 0 10em;
  background-color: #ccc;
  font-family: "Baloo 2", cursive;
}
.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main left"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
}
header {
  grid-area: header;
  height: 25vh;
  background-color: #fff;
  border-left: 1px solid dimgrey;
  border-right: 1px solid dimgrey;
}
header > .banner {
  height: 10vh;
}
nav {
  grid-area: nav;
  height: 70vh;
  background-color: #fff;
  border-left: 1px solid dimgrey;
  border-right: 1px solid dimgrey;
}
main {
  grid-area: main;
  height: 70vh;
  background-color: #fff;
  border-left: 3px solid dimgrey;
  border-right: 3px solid dimgrey;
}
.main {
  font-size: 1.2em;
}
.left {
  grid-area: left;
  height: 70vh;
  background-color: #fff;
  border-left: 1px solid dimgrey;
  border-right: 1px solid dimgrey;
}
footer {
  grid-area: footer;
  height: 5vh;
  background-color: #fff;
  border-left: 1px solid dimgrey;
  border-right: 1px solid dimgrey;
  color: darkgoldenrod;
  font-size: 1.2em;
  text-align: center;
}
.banner-login {
  text-align: right;
  height: 5vh;
}
.banner-login > li {
  display: inline-block;
}
.banner-login > li > a {
  text-decoration: none;
  color: black;
}
.banner {
  margin-bottom: 5em;
}
.banner > img {
  background-size: cover;
  height: 100%;
  width: 25%;
}
.menu > li {
  display: inline-block;
}
.menu > li > a {
  text-decoration: none;
  color: white;
  border-radius: 1em;
  border: 1px solid #148;
  padding: 0.3em;
  background-color: #0040ff;
  transition: background-color 0.3s linear;
}
.menu > li > a:hover {
  background-color: #668cff;
}
.main-img {
  width: 100%;
  height: 15em;
  background-size: cover;
  background-image: url(Giten.png);
}
.information > p > img {
  width: 60%;
}
li {
  list-style-type: none;
}
h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.6em;
  color: darkorange;
}
.nav-manu > li > a {
  color: black;
  text-decoration: none;
}
.image > img {
  width: 20%;
}
input {
  color: #ccc;
}
